:root{
  --color-claro: #F7F9FA;
  --color-oscuro: #254B62;
  --color-oscuro3: #547284;
  --color-oscuro4: #6B8595;
  --color-fondo: #254B62;
  --color-caja: #3C5E73;
  --color-cajatexto: #547284;
  --color-texto: #F7F9FA;
  --color-textohover: #C8D2D8;
  --color-texto-cajatexto: #B1BFC7;
  --color-medio: #8298A6;
  --color-botonnormal: #547284;
  --color-botonnormalhover: #6B8595;
  --color-icono: #9AACB6;
  --color-iconohover: #E0E6E9;
}

/*
:root{
  --color-claro: #F8F7F8;
  --color-oscuro: #2D132C;
  --color-oscuro3: #5A4659;
  --color-oscuro4: #715F70;
  --color-fondo: #2D132C;
  --color-caja: #442C43;
  --color-cajatexto: #442C43;
  --color-texto: #F8F7F8;
  --color-textohover: #CBC4CB;
  --color-texto-cajatexto: #E1DEE1;
  --color-botonnormal: #5A4659;
  --color-botonnormalhover: #715F70;
  --color-icono: #B4ABB4;
  --color-iconohover: #F8F7F8;
}
:root{
  --color-claro: #30475E;
  --color-oscuro: #F8F9F9;
  --color-oscuro3: #CCD1D7;
  --color-oscuro4: #B5BEC5;
  --color-fondo: #F8F9F9;
  --color-caja: #E2E5E8;
  --color-cajatexto: #CCD1D7;
  --color-texto: #30475E;
  --color-textohover: #5C6F80;
  --color-texto-cajatexto: #465B6F;
  --color-botonnormal: #CCD1D7;
  --color-botonnormalhover: #B5BEC5;
  --color-icono: #738292;
  --color-iconohover: #30475E;
}

:root{
  --color-claro: #F8F8F9;
  --color-oscuro: #293B5F;
  --color-oscuro3: #576581;
  --color-oscuro4: #6E7A92;
  --color-fondo: #293B5F;
  --color-caja: #405070;
  --color-cajatexto: #576581;
  --color-texto: #F8F8F9;
  --color-textohover: #E1E3E8;
  --color-texto-cajatexto: #E1E3E8;
  --color-botonnormal: #576581;
  --color-botonnormalhover: #6E7A92;
  --color-icono: #CACED7;
  --color-iconohover: #F8F8F9;
}

:root{
  --color-claro: #F7F8F8;
  --color-oscuro: #152D35;
  --color-oscuro3: #475A60;
  --color-oscuro4: #607176;
  --color-fondo: #152D35;
  --color-caja: #2E444B;
  --color-cajatexto: #475A60;
  --color-texto: #F7F8F8;
  --color-textohover: #DEE1E2;
  --color-texto-cajatexto: #DEE1E2;
  --color-botonnormal: #475A60;
  --color-botonnormalhover: #607176;
  --color-icono: #C5CBCD;
  --color-iconohover: #F7F8F8;
}


:root{
  --color-claro: #F7F9F8;
  --color-oscuro: #0F4640;
  --color-oscuro3: #436E69;
  --color-oscuro4: #5C827D;
  --color-fondo: #0F4640;
  --color-caja: #295A54;
  --color-cajatexto: #436E69;
  --color-texto: #F7F9F8;
  --color-textohover: #DDE5E4;
  --color-texto-cajatexto: #DDE5E4;
  --color-botonnormal: #436E69;
  --color-botonnormalhover: #5C827D;
  --color-icono: #C3D1CF;
  --color-iconohover: #F7F9F8;
}*/

/*------------Estilo para el fondo--------------*/
.fondo{
  background-color: var(--color-fondo);
}

/*--------- Estilo para el scroll ------------*/
/*Tama�o del scroll*/
.fondo::-webkit-scrollbar{
  width: 10px;
}
/*Estilo de la barra scroll*/
.fondo::-webkit-scrollbar-thumb{
  background: var(--color-oscuro3);
  border-radius: 5px;
}
/*Estilo para cuando se le da click a la barra scroll*/
.fondo::-webkit-scrollbar-thumb:active{
  background-color: var(--color-oscuro4);
}

.fondo::-webkit-scrollbar-thumb:hover{
  background: var(--color-medio);
  box-shadow: 0 0 2px 1px var(--color-oscuro);
}

.fondo::-webkit-scrollbar-track {
  background: var(--color-caja);
  border-radius: 5px;
}

/*------------Estilo para el contenedor--------------*/
.estilocontainer{
  background-color: var(--color-caja);
  color: var(--color-texto);   
  border-radius: 10px;
  padding: 1.5em;
  transition: .8s ease all;
}

/*------------Estilo para la cabeza de pagina--------------*/
.estilo-head{
  background-color: var(--color-caja); 
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: var(--color-oscuro4)
}

.estilo-head li a{
  color: var(--color-texto);
  text-decoration: none;
}

.estilo-head li a:hover{
  color: var(--color-textohover);
  transition: 0.5s;
}

/*Estilo para el boton iniciar sesión*/
.bt-inicio-sesion{
  border-style: solid;
  border-color: var(--color-claro);
  color: var(--color-claro);
}
.bt-inicio-sesion:hover{
  background-color: var(--color-claro);
  color: var(--color-oscuro)
}
/*--------------Boton iniciar sesión en la caja-----------------*/

.boton1{
  color: var(--color-texto);
  transition: .8s ease all;
}
.boton1:hover{
  background-color: var(--color-botonnormal);
  color: var(--color-texto);
  transition: 0.5s;
}
/*--------------Botones normales-----------------*/

.botonnormal{
  background-color: var(--color-botonnormal); 
  color: var(--color-claro);
  transition: .8s ease all;
}
.botonnormal:hover{
  background-color: var(--color-botonnormalhover);
  color: var(--color-claro);
  transition: 100ms;
}

/*icono volver a pagina anterior*/

.flecha-volver{
  color: var(--color-icono);
}
.flecha-volver:hover{
  color: var(--color-iconohover)
}

/*--------------Entradas de texto-----------------*/
/*Estilo normal*/
.cajatexto{
  background-color: var(--color-cajatexto);
  color: var(--color-texto);
  width: 75%;
}

.cajatexto:focus{
  background-color: var(--color-cajatexto);
  color: var(--color-texto);
}

.cajatexto::placeholder{
  color: var(--color-texto-cajatexto);
}

/*Estilo oscuro*/
.fondo.dark .cajatexto{
  background-color: #557174;
  color: #F7F7E8;
}

/*--------------Iconos redes-----------------*/
/*Estilo nomarl*/
.iconcolor{
  color: var(--color-icono);
}

.iconcolor:hover{
  color: var(--color-iconohover);
  transition: 0.1s;
}

/*--------------Logo E11 cabeza de pagina-----------------*/
/*Estilo normal*/
.e11{
  text-decoration: None;
  color: var(--color-texto);
  transition: .8s ease all;
}

.e11:hover{
  text-decoration: None;
  color: var(--color-textohover);
}

/*----------Botones para el menu del cabeza de pagina-----------*/
/*Estilo normal*/
.boton-menu{
  text-decoration: None;
  color: var(--color-texto)
}

.boton-menu:hover{
  text-decoration: None;
  color: var(--color-textohover);
}
/*---------------Mensaje de alerta incorrecto-------------------*/
.errormensaje{
  background-color: #CFB6B6;
  color: #885959;
  border-color: #634040;
}

.errormensaje:hover{
  background-color: #BF9C9C;
  transition: .5s;
}
/*---------------Mensaje de alerta bien-------------------*/
.mensaje-bien{
  background-color: #B6CFC3;
  color: #61947B;
  border-color: #517B67;
}

.mensaje-bien:hover{
  background-color: #9CBFAE;
  transition: .5s;
}
/*---------------Estilo para la tabla------------------------------------------------*/
/*Estilo normal*/
.tabla{
  background-color: var(--color-oscuro3);
  color: var(--color-texto);
  transition: .8s ease all
}

.tabla tr:hover{
  background-color: var(--color-oscuro4);
  transition: 0.5s;
}

/* Estilo para los objetos deshabilitados */
.form-control[readonly] {
    background-color: var(--color-oscuro3);
    opacity: 0.5;
}

.cont{
  padding: 120px 1px 0;
}